* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#news {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.news-item {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  width: 920px;
  max-width: 90%;
  margin-top: 16px;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.news-item small {
  align-self: flex-end;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

form * {
  width: 400px;
}

.form-top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 16px;
}

.form-top-row button {
  width: 100px;
  background-color: red;
  color: white;
}

.see-more-button {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 4px;
  cursor: pointer;
}
